<select class="selectpicker form-control" id="valg_medarbejder_dropdown" data-width="fit" data-size="10">
    {{#each medarbejder}}
        <option data-id="{{this._id}}">{{this.navn}}</option>
    {{/each}}
</select>