<div id="popupPage" data-page="{{this.page}}" data-id="{{this._id}}">
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-cutlery fa-lg fa-fw" aria-hidden="true"></i></span>
        <input type="text" class="form-control" placeholder="Navn" value="{{this.navn}}" name="navn" id="input-navn">
    </div>
</div>


