<div class="alert alert-warning alert-dismissible" role="alert">
    <p><strong>Advarsel!</strong> Er du sikker på at du vil slette {{item}}?</p>
    <p>
        <button type="button" id="bekræft_slet" class="btn btn-warning" data-id="{{id}}" data-objekt="{{item}}" data-dismiss="alert" aria-label="Slet">
            Slet
        </button>
        <button type="button" class="btn btn-default" data-dismiss="alert" aria-label="Close">
            Annullér
        </button>
    </p>
</div>