<select class="selectpicker form-control" id="valg_kategori_dropdown" data-width="fit" data-size="10">
    {{#each kategori}}
        <option data-id="{{this._id}}" value="{{this.navn}}">{{this.navn}}</option>
    {{/each}}
</select>