<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <div id="kategoriDropdown">
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-search fa-fw"></i></span>
                    <input class="form-control" placeholder="Søg" type="text" id="søg_vare_felt">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" id="vare_container">
                <div class="pre-scrollable">
                    <div class="list-group" id="vare_oversigt">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel ny-bestilling-panel">
            <div class="panel-heading panel-heading-dark">
                <h3 class="panel-title">Detaljer om varen</h3>
            </div>
            <div class="panel-body">
                <h4 class="detaljer-overskrift-vare" id="antal-enhed-overskrift">Antal</h4>
                <div class="row">
                    <div class="col-sm-offset-3 col-sm-6">
                        <div class="input-group" id="antal-vare">
                                        <span class="input-group-btn">
                                          <button type="button" class="btn btn-danger" id="btn-number-minus"
                                                  data-type="minus">
                                            <span class="fa fa-minus"></span>
                                          </button>
                                        </span>
                            <input id="input-antal-vare" type="text" class="form-control" value="1" min="0.1" max="999">
                            <span class="input-group-btn">
                                          <button type="button" class="btn btn-success" id="btn-number-plus"
                                                  data-type="plus">
                                              <span class="fa fa-plus"></span>
                                          </button>
                                        </span>
                        </div>
                    </div>
                </div>
                <h4 class="detaljer-overskrift-vare" id="pris-enhed-overskrift">Pris</h4>
                <div class="row">
                    <div class="col-sm-offset-3 col-sm-6">
                        <div class="input-group pris-vare">
                            <span class="input-group-addon"><i class="fa fa-money" aria-hidden="true"></i></span>
                            <input id="pris_vare" class="form-control" type="number">
                        </div>
                        <div id="pris_vare_samlet"></div>
                    </div>
                </div>
                <div class="row">
                    <h4 class="detaljer-overskrift-vare">Rabat</h4>
                    <div class="col-sm-offset-3 col-sm-6">
                        <div class="input-group rabat-vare">
                            <input id="rabat-vare" class="form-control" type="number">
                            <span class="input-group-btn">
                                            <button id="procent-rabat" class="btn btn-warning"><span
                                                    class="fa fa-percent"></span></button>
                                            <button id="kr-rabat" class="btn btn-info">kr.</button>
                                        </span>
                        </div>
                    </div>
                </div>
                <h4 class="detaljer-overskrift-vare">Kommentar</h4>
                <div class="row">
                    <div class="col-sm-offset-2 col-sm-8">
                        <textarea class="form-control" placeholder="Tilføj kommentar" id="kommentar-vare"></textarea>
                    </div>
                </div>
                <div id="bestillingsvare">
                    <h4>
                        Bestillingsvare <input type="checkbox" title="bestillingsvare-checkbox"
                                               id="bestillingsvare-checkbox">
                    </h4>
                </div>
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-10">
                        <button class="btn btn-lg btn-default" id="tilbage_rediger_vare">Tilbage</button>
                        <button class="btn btn-lg btn-success" id="tilføj_vare_bestillingsoversigt">
                                        <span class="fa fa-cart-plus fa-lg" aria-hidden="true">
                                        </span>Tilføj
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>